In [1]:
from data.helper import *

G:\AppData\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
import torch, random
from torch.utils.data import Dataset, DataLoader
import pytorch_lightning as pl

In [3]:
ratings, demog, n_users, n_movies = gen_demographic_table()

In [5]:
val_uids = set(ratings.uid.sample(frac=0.2, random_state=42))
train_df = ratings[~ratings.uid.isin(val_uids)]
val_df   = ratings[ratings.uid.isin(val_uids)]

In [6]:
train_df

         uid   mid  Rating  Timestamp
309997  1843   128       5  974695954
309998  1843   392       4  974695878
309999  1843   246       4  974696051
310000  1843   775       2  974696051
310001  1843  1935       4  974697862
310002  1843   516       3  974697768
310003  1843   771       4  974695878
310004  1843   831       5  974697151
310005  1843   368       2  974696051
310006  1843  2091       5  974697260
310007  1843  2417       5  974696201
310008  1843    27       1  974695914
310009  1843  2564       4  974697862
310010  1843   519       3  974697727
310011  1843   315       3  974696051
310012  1843   892       4  974697204
310013  1843  1971       3  974697260
310014  1843    68       3  974697727
310015  1843  2051       4  974697151
310016  1843  2214       5  974697151
535294  3302   184       5  968011044
535295  3302    22       4  968011401
535296  3302   597       5  968011009
535297  3302   600       5  968011336
535298  3302  1195       5  968011083
535299  3302     9       5  968010441
535300  3302  1604       3  968010552
535301  3302   710       5  968010875
535302  3302   203       4  968011044
535303  3302  3588       5  968010875
535304  3302  1524       2  968010843
535305  3302   113       5  968010552
535306  3302  3280       4  968010793
535307  3302  2437       5  968010766
535308  3302  1651       5  968011198
535309  3302   182       5  968010744
535310  3302   561       5  968010722
535311  3302  1610       4  968010722
535312  3302  1753       4  968010722
535313  3302   127       4  968010441
535314  3302   799       4  968010617
535315  3302    50       4  968011198
535316  3302   134       4  968011044
535317  3302   183       5  968011108
535318  3302   766       4  968011083

In [ ]:
dm = ML1MDataModule(train_df, val_df, demog,
                batch_size=256,
                k=3)